# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
